.match-letters-game-container {
  text-align: center;
  margin: 50px auto;
}

.letter-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.letter-box {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid blueviolet;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.letter-box:hover {
  background-color: #ddd;
}

.letter-box div {
  font-size: 60px;
}

.next-level-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-level-button:hover {
  background-color: #0056b3;
}

.correct-effect {
  animation: correctEffect 0.5s ease-in-out;
}

@keyframes correctEffect {
  0% {
    transform: scale(1);
    background-color: #28a745; 
  }
  50% {
    transform: scale(1.2);
    background-color: #28a745; 
  }
  100% {
    transform: scale(1);
    background-color: #28a745;
  }
}

.incorrect-effect {
  animation: incorrectEffect 0.5s ease-in-out;
}

@keyframes incorrectEffect {
  0% {
    transform: rotate(0deg);
    background-color: #dc3545; 
  }
  25% {
    transform: rotate(10deg);
    background-color: #dc3545; 
  }
  50% {
    transform: rotate(-10deg);
    background-color: #dc3545; 
  }
  75% {
    transform: rotate(10deg);
    background-color: #dc3545; 
  }
  100% {
    transform: rotate(0deg);
    background-color: #dc3545;
  }
}
